.home-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    background-color: #E8F3EC;
    height: 100vh;
}

.pokemon-container{
    padding: 0 24px;
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.5s linear;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 16px;
}