.home-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.pokemon-container{
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.5s linear;
    padding: 8px 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
}